flask
flask-restful
flask-migrate
flask-sqlalchemy
flask-marshmallow
flask-jwt-extended
marshmallow-sqlalchemy
python-dotenv
passlib
tox

colors.py
psycopg2-binary
psycopg2
gunicorn
environs
requests


